# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*

# OS
.DS_Store
Thumbs.db
.directory

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Specific
frontend/dist/
backend/socket_test/
backend/static/uploads/
backend/instance/
backend/migrations/versions/__pycache__/
